
.addFormfon {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(126 130 130 / 71%);
    position: fixed;
    top: 0;
    z-index: 2002;
}

.proba-content{
    white-space: nowrap;
}

.content-item{
    white-space: normal;
	display: inline-block;
	width: 48%;
	vertical-align: top;
}
.proba-content .content-item:first-child {
	margin-right: 4%;
}
.proba{
    position: absolute;
    padding: 5px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 600px;
    height: 370px;
    border: 2px solid grey;
    background-color: white;
}

.proba h3 {
    margin-left: 30px;
    font-size: 1.17em;
    font-weight: bold;
    color: black;
}

.proba-select {
    margin-left: 20px;
}

.proba-form1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    justify-content: space-around;
    margin-top: 10px;
}

.proba-input {
    width: 150px;
    font-size: 14px;
}

.maxheig{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: -40px;
}

.maxheig input {
    margin-left: -100px;
}


.proba p{
    margin-right: 20px;
    font-size: 18px;
}
.proba .p{
    margin-right: 28px;
}
.proba .p1{
    margin-right: 35px;
}
.proba .p2{
    margin-right: 35px;
}
.item2{
    margin-top: -10px;
}

.exitFormAddProba {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: grey;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.exitFormAddProba:hover {
    background-color: #3bc1a0;
}

.proba button {
    cursor: pointer;
}
