body{
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
}
.header{
    margin-bottom: -16px;
}
.nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    /*background: #324a87;*/
    background: #294875;
}
a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
a:hover{
    color: #338f5e;
}
#a{
    margin-bottom: 10px;
}
#a:hover{
    border-bottom: 2px solid white;
    padding-bottom: 2px;
    color: white;
}
li{
    list-style-type: none;
    margin-right: 20px;
}
.menu{
    display: flex;
    flex-direction: column;
    width: 450px;
    min-height: 100%;
    background: #274773;
}
.con{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
.content{
    width: 100%;
}
#li{
    margin-bottom: 10px;
}

table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  border-collapse: collapse;
  color: #686461;
}
caption {
  padding: 10px;
  color: white;
  background: #8FD4C1;
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}
th {
  border-bottom: 3px solid #B9B29F;
  padding: 10px;
  text-align: left;
}
td {
  padding: 10px;
}
tr:nth-child(odd) {
  background: white;
}
tr:nth-child(even) {
  background: #E8E6D1;
}