header{
    width: 100%;
    height: 90px;
    background-color: #177164;
    /* position: static; */
    min-width: 1380px;
}

input {
    text-align: center;
}

.hiv{
    width: 100%;
    height: 50px;
    background-color: #177164;
}
.hiv2{
    width: 100%;
    height: 40px;
    background-color: white;
    border-bottom: 3px solid #177164;
}
.hid{
    display: grid;
    grid-template-columns: 30px 250px 250px 200px 1fr;
    grid-template-rows: repeat(1, 30px);
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    grid-column-gap: 50px;
    height: 50px;
}
.hid2{
    display: grid;
    grid-template-columns: 285px 330px 305px;
    position: absolute;
    margin-top: 5px;
    margin-left: 60px;
    grid-column-gap: 50px;
    height: 50px;
}
.point{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0px;
    gap: 20px;
    height: 33px;
}
a{
    text-decoration: none;
    height: 45px;
    margin-top: -20px;
}
a:active{
    border-bottom: 2px solid #40E0D0;
    padding-bottom: -3px;
}
a:hover{
    border-bottom: 2px solid #40E0D0;
}
h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #fff;
    mix-blend-mode: normal;
}
.hid2r{
    display: grid;
    grid-template-columns: 43px 280px 305px;
    position: absolute;
    margin-top: 5px;
    margin-left: 30px;
    grid-column-gap: 40px;
    height: 35px;
}
.n1{
    height: 40px;
    margin-bottom: 5px;
    grid-template-columns: 205px 215px 350px 350px;
}
.n1 select{
    height: 30px;
}
.n2{
    height: 50px;
    grid-template-columns: 430px 190px 160px 240px;
}
input[type="text" i] {
    padding: 0px 0px;
}
.submenu{
    min-width: 1380px;
    border-bottom: none;
    height: 100%;
    padding: 0px;
}
.heading{
    width: 621px;
    height: 28px;
    margin: 23px auto;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.menuform{
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
}
.back{
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 22px;
    width: 42px;
    outline: 1px solid #9B9B9B;
    border-radius: 4px 0px 0px 4px;
    margin-top: 4px;
}
.butmenu{
    border-radius: 4px;
    margin-right: 28px;
    height: 30px;
    width: 139px;
}
.back:active{
    cursor: pointer;
    background-color: #40E0D0;
}
.back:hover{
    cursor: pointer;
    background-color: #40E0D0;
}
.back:active p{
    cursor: pointer;
    background-color: #40E0D0;
    color: #000000;
}
.back:hover p{
    cursor: pointer;
    background-color: #40E0D0;
    color: #000000;
}
.task{
    width: 194px; 
}
select{
    width: 254px; 
    height: 38.4px; 
    border-radius: 4px;
    margin-bottom: 0px;
    border: 1px solid #9B9B9B;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
.task1{
    width: 218px; 
}
.task2{
    width: 109px; 
}
.rerect{
    display: grid;
    height: 70px;
    margin-left: 30px;
    grid-template-columns: 350px 360px 450px;
    grid-column-gap: 55px;
    margin-bottom: 5px;
}
.rerect p {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 40px;
}
.rerect input{
    height: 30px;
    border: 1px solid #9B9B9B;
    border-radius: 4px;
}
.r1{
    display: grid;
    margin-left: 30px;
    grid-template-columns: 500px;
    height: 40px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.r2{
    grid-template-columns: 1280px;
    margin-top: 0px;
    grid-column-gap: 0px;
    height: 100%;
    margin-bottom: 0px;
}
.r2 p{
    margin-top: 0px;
    margin-bottom: 0px;
}
p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 0px;
}
.text{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    min-width: 1300px;
}
.text input{
    height: 30px;
    border: 1px solid #9B9B9B;
    border-radius: 4px;
    padding: 0px 10px 0px 10px;
}
.tx1{
    margin-bottom: 10px;
}
textarea {
    width: 100%;
    height: 80px;
    resize: none; /* Запрещаем изменять размер */
}

.pdf{
    width: 200px;
}

.mandatory_warning {
    border: 3px solid red !important;
}