#header, .module caption {
    background: rgb(0, 65, 82);
}
div.breadcrumbs {
    background: rgb(70, 107, 119);
}
.object-tools a.addlink, .submit-row input, .submit-row input.default {
    background: rgb(0, 65, 82);
}
