{% extends 'erp/html/base.html' %}
{% block container %}
{% block body %}
    <div class="container">
        {% block header %}
        <div class="header">
            {% block nav %}
            <ul class="nav">
                <li><a href="/">Главная</a></li>
                <li><a href="documents">Документы</a></li>
                <li><a href="guide">Справочники</a></li>
            </ul>
            {% endblock %}
          </div>
        {% endblock %}
        {% endblock %}
        <div class="con">
            {% block menu %}
            <div class="menu">
                <ul class="navigat">
                    {% for m in menu %}
                    <li id="li"><a id="a" href="">{{m}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endblock %}
         </div>
{% endblock %}
