<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% block title %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список описаний участков</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/statementRecalculations.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.0/axios.js"></script>
    <script src="{% static 'js/global.js' %}"></script>
    <script src="{% static 'js/common/commonFunction.js' %}"></script>
    <script src="{% static 'js/common/common_business.js' %}"></script>
    <script src="{% static 'js/fieldCard/fieldCard_business.js' %}" defer></script>
    <script src="{% static 'js/fieldCard/fieldCard_construct_view.js' %}" defer></script>
    {% endblock %}
</head>
<body style="margin:0 !important">
    <header style="margin:0 !important">
        <div class="hiv">
            <div class="hid">
                <img src="{% static 'img/Logo @img.svg' %}" alt="">
                <div class="point cursorPointer" onclick="getStatementRecalculations()">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 4.5L5.9022 3.50135C4.83122 2.43036 3 3.18888 3 4.70348V19.2999C3 20.2389 3.76115 21 4.70007 21H19.2965C20.8111 21 21.5696 19.1688 20.4987 18.0978L19.8945 17.4936M7 4.5L5.5 5.5M7 4.5L9.76759 7.36674M9.76759 7.36674L8.34542 8.87775M9.76759 7.36674L13.1019 10.701M13.1019 10.701L11.7783 12.0808M13.1019 10.701L16.3881 13.9872M16.3881 13.9872L15.113 15.3824M16.3881 13.9872L19.8945 17.4936M19.8945 17.4936L18.4968 18.7825" stroke="#40E0D0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.69867 18H11.2999C11.9224 18 12.2341 17.2474 11.794 16.8073L7.1927 12.206C6.75256 11.7659 6 12.0776 6 12.7001V17.3013C6 17.6872 6.3128 18 6.69867 18Z" stroke="#40E0D0" stroke-width="2" stroke-linejoin="round"/>
                        </svg>
                    <a><h3>Перечетная ведомость</h3></a>
                </div>
                <div class="point cursorPointer" onclick="getDescriptionListLand()">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.7218 8.1308L10.5768 11.2012M1 19L2.61578 14.2673C2.81491 13.6841 2.74608 13.0523 2.52328 12.4773C1.43423 9.66657 2.04257 6.37784 4.35189 4.12326C6.60048 1.92796 13.1645 1.22622 16.729 1.00446C18.0273 0.923692 19.0782 1.94964 18.9954 3.2172C18.7683 6.69721 18.0495 13.1056 15.8009 15.3009C13.6825 17.3691 10.6728 18.0399 7.96733 17.3159C6.57914 16.9445 6.4141 15.2653 7.4319 14.2716L9.00437 12.7364M10.5768 11.2012V7.5M10.5768 11.2012L9.00437 12.7364M9.00437 12.7364H12.5" stroke="#40E0D0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    <a><h3>Полевые карточки</h3></a>
                </div>
                <div class="point cursorPointer">
                    <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="4" y="5.10345" width="16" height="3.51724" rx="1" stroke="#40E0D0" stroke-width="2" stroke-linejoin="round"/>
                        <rect x="4" y="13.3793" width="16" height="3.51724" rx="1" stroke="#40E0D0" stroke-width="2" stroke-linejoin="round"/>
                        <path d="M17 6.75519H18.5" stroke="#40E0D0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M17 15.1552H18.5" stroke="#40E0D0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    <a href=""><h3>Справочники</h3></a>
                </div>
            </div>
        </div>
        <div class="hiv2">
            <div class="hid2" style="margin-left: 30px;">
                <div class="point cursorPointer" onclick="getDescriptionListLand()">
                    <a><h3 style="color: black;">Описание участков</h3></a>
                </div>
                <div class="point cursorPointer" onclick="">
                    <a class="activeLink"><h3  style="color: black;">Список полевых карточек</h3></a>
                </div>
            </div>
        </div>
    </header>
    <div style="display: flex;">
        <div id="but_filtr" class="butmenuadd filtr">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin: 4px 4px 2px 15px;">
                <circle cx="5" cy="16" r="2" stroke="#177164"/>
                <path d="M10 16L14.8457 15.9863L19.6914 15.9727" stroke="#177164" stroke-linecap="round"/>
                <circle cx="5" cy="4" r="2" stroke="#177164"/>
                <path d="M10 4L14.8457 3.98633L19.6914 3.97266" stroke="#177164" stroke-linecap="round"/>
                <circle cx="18.6914" cy="10" r="2" transform="rotate(180 18.6914 10)" stroke="#177164"/>
                <path d="M13 10L8.5 10.0044L4 10.0088" stroke="#177164" stroke-linecap="round"/>
            </svg>
            <p class="p">Применить фильтры</p>
        </div>
        <div class="butmenuadd" style="justify-content: flex-start; display: none;">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin: 7px 10px 7px 15px;">
                <circle cx="8" cy="8" r="8" fill="#177164"/>
                <path d="M7.40002 8.60005V12.2H8.60002V8.60005H12.2V7.40005H8.60002V3.80005H7.40002V7.40005H3.79999V8.60005H7.40002Z" fill="white"/>
            </svg>
            <p class="p">Создать новую полевую карточку</p>
        </div>
    </div>

    <form id="form_filter" action="" class="form">
        <p>Субьект РФ: <input type="checkbox" id="checkbox_filter_subject_rf" name="scales">
            <label for="filter_subject_rf">
                <select disabled name="sub" id="filter_subject_rf" style="width: 300px">
                    <option hidden disabled selected value=""></option>
                    <option >Брянская область</option>
                    <option >калужская область</option>
                </select>
            </label>
        </p>


        <p>Лесничество: <input type="checkbox" id="checkbox_filter_forestly" name="scales">
            <label for="filter_forestly">
                <select disabled name="sub" id="filter_forestly" style="width: 330px">
                    <option hidden disabled selected value=""></option>
                    <option >Брянская область</option>
                    <option >калужская область</option>
                </select>
            </label>
        </p>

        <p>Начало периода: <input type="checkbox" id="checkbox_filter_date_start" name="scales" >
            <label for="filter_date_start"><input readonly type="date" id="filter_date_start" name=""></label> </p>

        <p>Участкове лесничество: <input type="checkbox" id="checkbox_filter_district_forestly" name="scales">
            <label for="filter_district_forestly">
                <select disabled name="sub" id="filter_district_forestly" style="width: 280px">
                    <option hidden disabled selected value=""></option>
                    <option >Брянская область</option>
                    <option >калужская область</option>
                </select>
            </label>
        </p>

        <p>Квартал: <input type="checkbox" id="checkbox_filter_quartal" name="scales">
            <label for="filter_quartal">
                <select disabled name="sub" id="filter_quartal">
                    <option hidden disabled selected value=""></option>
                    <option >Брянская область</option>
                    <option >калужская область</option>
                </select>
            </label>
        </p>

        <p>Окончание периода: <input type="checkbox" id="checkbox_filter_date_end" name="scales">
             <label for="filter_date_end"><input readonly type="date" id="filter_date_end" name=""></label> </p>
    </form>
    <div class="content">
        <div class="content_table">
            <table>
                <thead>
                    <th class="textAlignCenter td1">Дата</th>
                    <th class="td8">Номер</th>
                    <th class="td2">Субьект РФ</th>
                    <th class="td3">Лесничество</th>
                    <th class="td4">Участковое лесничество</th>
                    <th class="textAlignCenter td5">Квартал</th>
                    <th class="textAlignCenter td6">Выдел</th>
                    <th class="textAlignCenter td7">Площадь участка</th>
                </thead>
            </table>
            <div class="scroll-table-body">
                <table>
                    <tbody id="fieldCard_tbody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>