{% extends 'erp/html/base.html' %}
{% block body %}
{% block container %}
    <div class="container">
        {% block header %}
        <div class="header">
            <ul class="nav">
                <li><a href="/">Главная</a></li>
                <li><a href="documents">Документы</a></li>
                <li><a href="guide">Справочники</a></li>
            </ul>
        </div>
        {% endblock header %}

        {% block con %}
        <div class="con">
            {% block menu %}
            <div class="menu">
                <ul class="navigat">
                    {% for m in menu %}
                    <li id="li"><a id="a" href="{{ m.url_name}} ">{{m.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endblock menu %}
            {% block content %}
            <div class="content">
                {% block forma %}
                <div class="forma">
                <form action="{{ success_url }} " method="post">
<!--                    <input id="name_subject_RF" type="text" name="name_subject_RF">-->
                    {% csrf_token %}
<!--                    {{ form.as_p }}-->
                    {% for f in form %}
                    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label> {{ f }}</p>
                    <div class="form-error"> {{ f.errors }} </div>
                    {% endfor %}
                    <input type="submit" value="OK">
                </form>
                    {% endblock forma %}
                </div>
                {% block items-forms %}
                <div class="items-forms">
                    {% block table %}
                    <table>
                        <th>Номер</th>
                        <th>Лесничество</th>
                        <th>Наименование субъекта РФ</th>
                        {% for item in queryset %}
                        <tr>
                            <form action="forestly/update/{{item.pk}}" method="post">
                                {% csrf_token %}
                            <td><input type="text" value="{{ item.pk }}" name="pk" readonly></td>
                            <td><input type="text" value="{{item}}" name="name_forestly"></td>
                                <td><input type="text" value="{{item.id_subject_rf}}" name="subjectrf"></td>
                            <td><input type="submit" value="Изменить данные"></td>
                            </form>
                            <td>
                                <form action="forestly/delete/{{item.pk}}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" value="Удалить данные" name="pk">
                                </form>
                            </td>
                        {% endfor %}
                        </tr>
                    </table>
                    {% endblock table %}
                </div>
                {% endblock items-forms %}
            </div>
            {% endblock content %}
        </div>
        {% endblock con %}
    </div>
{% endblock %}
    </div>
{% endblock %}
