<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% block title %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список перечетных ведомостей</title>
<!--    <link rel="stylesheet" href="{% static 'css/statementRecalculations.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/forestCropsStatementRecalculations.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.0/axios.js"></script>
    <script src="{% static 'js/global.js' %}"></script>
    <script src="{% static 'js/common/commonFunction.js' %}"></script>
    <script src="{% static 'js/common/common_business.js' %}"></script>
<!--    <script src="{% static 'js/statementRecalculations/statementRecalculations_business.js' %}" defer></script>-->
<!--    <script src="{% static 'js/statementRecalculations/statementRecalculations_construct_view.js' %}" defer></script>-->
    <script src="{% static 'js/forestCropsStatementRecalculations/forestCropsStatementRecalculations_business.js' %}" defer></script>
    <script src="{% static 'js/forestCropsStatementRecalculations/forestCropsStatementRecalculations_construct_view.js' %}" defer></script>
    <script src="{% static 'js/common.js' %}" defer></script>
    {% endblock %}
</head>
<body>
    <header>
        <div class="hiv">
            <div style="gap: 20px">
                <img src="{% static 'img/Logo @img.svg' %}" alt="">
                <div>
                    <div class="point cursorPointer" onclick="getForestCrops()">
                        <a><h3>Лесные культуры</h3></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3-button-profile">
                <button class="rukovodstvo" onclick="downloadDocument()">Скачать руководство пользователя</button>
                <button class="save-profile">Профиль</button>
            </div>
        </div>
        <div class="hiv2">
            <div class="hid2">
                <div class="point cursorPointer activeLink" onclick="getForestCrops()">
                    <a><h3>Перечетная ведомость</h3></a>
                </div>
            </div>
        </div>
    </header>

    <div class="action-panel">
        <div id="but_filtr" class="butmenuadd filtr">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="5" cy="16" r="2" stroke="#ffffff"/>
                <path d="M10 16L14.8457 15.9863L19.6914 15.9727" stroke="#ffffff" stroke-linecap="square"/>
                <circle cx="5" cy="4" r="2" stroke="#ffffff"/>
                <path d="M10 4L14.8457 3.98633L19.6914 3.97266" stroke="#ffffff" stroke-linecap="square"/>
                <circle cx="18.6914" cy="10" r="2" transform="rotate(180 18.6914 10)" stroke="#ffffff"/>
                <path d="M13 10L8.5 10.0044L4 10.0088" stroke="#ffffff" stroke-linecap="square"/>
            </svg>
            <p class="p">Применить фильтры</p>
        </div>
        <div id="reset_filtr" class="butmenuadd filtr">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="5" cy="16" r="2" stroke="#177164"/>
                <path d="M10 16L14.8457 15.9863L19.6914 15.9727" stroke="#177164" stroke-linecap="square"/>
                <circle cx="5" cy="4" r="2" stroke="#177164"/>
                <path d="M10 4L14.8457 3.98633L19.6914 3.97266" stroke="#177164" stroke-linecap="square"/>
                <circle cx="18.6914" cy="10" r="2" transform="rotate(180 18.6914 10)" stroke="#177164"/>
                <path d="M13 10L8.5 10.0044L4 10.0088" stroke="#177164" stroke-linecap="square"/>
            </svg>
            <p class="p">Сбросить фильтры</p>
        </div>
        <div class="butmenuadd" onclick="">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="8" cy="8" r="8" fill="#40E0D0"/>
                <path d="M7.40002 8.60005V12.2H8.60002V8.60005H12.2V7.40005H8.60002V3.80005H7.40002V7.40005H3.79999V8.60005H7.40002Z" fill="#134a3a"/>
            </svg>
            <p class="p">Создать новую перечетную ведомость</p>
        </div>
        <div class="butmenuadd" onclick="downloadExcel()">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.292 16.706a1 1 0 0 0 1.416 0l3-3a1 1 0 0 0-1.414-1.414L13 13.586V4a1 1 0 0 0-2 0v9.586l-1.293-1.293a1 1 0 0 0-1.414 1.414zM17 19H7a1 1 0 0 0 0 2h10a1 1 0 0 0 0-2z" fill="#177164"/>
            </svg>
            <p class="p">Скачать список</p>
        </div>
    </div>

    <form id="form_filter" action="" class="form">
        <div>
            <p>Субъект РФ:
                <input type="checkbox" id="checkbox_filter_subject_rf" name="scales" style="display: none;">
                <label for="filter_subject_rf">
                    <select disabled name="sub" id="filter_subject_rf">
                        <option hidden disabled selected value=""></option>
                    </select>
                </label>
            </p>

            <p>Лесничество:
                <input type="checkbox" id="checkbox_filter_forestly" name="scales" style="display: none;">
                <label for="filter_forestly">
                    <select disabled name="sub" id="filter_forestly">
                        <option hidden disabled selected value=""></option>
                    </select>
                </label>
            </p>

            <p>Участковое лесничество:
                <input type="checkbox" id="checkbox_filter_district_forestly" name="scales" style="display: none;">
                <label for="filter_district_forestly">
                    <select disabled name="sub" id="filter_district_forestly">
                        <option hidden disabled selected value=""></option>
                    </select>
                </label>
            </p>

            <p>Квартал:
                <label for="filter_name_quarter"><input type="text" id="filter_name_quarter" name=""></label>
            </p>

            <p>Выдел:
                <input type="checkbox" id="checkbox_filter_soil_lot" name="scales" style="display: none;">
                <label for="filter_soil_lot"><input readonly type="text" id="filter_soil_lot" name=""></label>
            </p>

            <p>Начало периода:
                <input type="checkbox" id="checkbox_filter_date_start" name="scales">
                <label for="filter_date_start"><input readonly type="date" id="filter_date_start" name=""></label>
            </p>


            <p>Окончание периода:
                <input type="checkbox" id="checkbox_filter_date_end" name="scales">
                <label for="filter_date_end"><input readonly type="date" id="filter_date_end" name=""></label>
            </p>
        </div>
    </form>

    <div class="content">
        <div class="content_table">
            <div class="table-container">
                <table class="sticky-header-table">
                    <thead >
                        <tr>
                            <th class="textAlignCenter th1 cursorPointer positionRelative" onclick="sortByDate()">Дата обследования<span id="sortDateForTable1" class="sortDateArrow">&#8595;</span></th>
                            <th class="textAlignCenter th2">Субъект РФ</th>
                            <th class="textAlignCenter th3">Лесничество</th>
                            <th class="textAlignCenter th4">Участковое лесничество</th>
                            <th class="textAlignCenter th9">Урочище</th>
                            <th class="textAlignCenter th5">Квартал</th>
                            <th class="textAlignCenter th6">Выдел</th>
                            <th class="textAlignCenter th6">Площадь</th>
                            <th>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 6a2 2 0 0 1 2-2h5a1 1 0 0 1 .707.293L11.414 6H20a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6zm6.586 0H4v12h16V8h-9a1 1 0 0 1-.707-.293L8.586 6zM12 9.5a1 1 0 0 1 1 1v2.586l.293-.293a1 1 0 0 1 1.414 1.414l-2 2a1 1 0 0 1-1.414 0l-2-2a1 1 0 1 1 1.414-1.414l.293.293V10.5a1 1 0 0 1 1-1z" fill="#ffffff"/></svg>
                            </th>
                            <th>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18 6L17.1991 18.0129C17.129 19.065 17.0939 19.5911 16.8667 19.99C16.6666 20.3412 16.3648 20.6235 16.0011 20.7998C15.588 21 15.0607 21 14.0062 21H9.99377C8.93927 21 8.41202 21 7.99889 20.7998C7.63517 20.6235 7.33339 20.3412 7.13332 19.99C6.90607 19.5911 6.871 19.065 6.80086 18.0129L6 6M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6M14 10V17M10 10V17" stroke="#ffffff" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"></path>
                                </svg>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="statementRecalculations_tbody">
                        <tr onclick="getForestCropsRecalculationsDetail()">
                            <td class="textAlignCenter">01/01/2002</td>
                            <td class="textAlignCenter">Брянская область</td>
                            <td class="textAlignCenter">Брянское</td>
                            <td class="textAlignCenter">Брянское</td>
                            <td class="textAlignCenter">брянское</td>
                            <td class="textAlignCenter">2002</td>
                            <td class="textAlignCenter">1002</td>
                            <td class="textAlignCenter">202</td>
                            <td class="textAlignCenter">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 6a2 2 0 0 1 2-2h5a1 1 0 0 1 .707.293L11.414 6H20a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6zm6.586 0H4v12h16V8h-9a1 1 0 0 1-.707-.293L8.586 6zM12 9.5a1 1 0 0 1 1 1v2.586l.293-.293a1 1 0 0 1 1.414 1.414l-2 2a1 1 0 0 1-1.414 0l-2-2a1 1 0 1 1 1.414-1.414l.293.293V10.5a1 1 0 0 1 1-1z" fill="#000000"/></svg>
                            </td>
                            <td class="textAlignCenter">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18 6L17.1991 18.0129C17.129 19.065 17.0939 19.5911 16.8667 19.99C16.6666 20.3412 16.3648 20.6235 16.0011 20.7998C15.588 21 15.0607 21 14.0062 21H9.99377C8.93927 21 8.41202 21 7.99889 20.7998C7.63517 20.6235 7.33339 20.3412 7.13332 19.99C6.90607 19.5911 6.871 19.065 6.80086 18.0129L6 6M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6M14 10V17M10 10V17" stroke="#000000" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"></path>
                                </svg>
                            </td>
                        </tr>
                        <tr onclick="getForestCropsRecalculationsDetail()">
                            <td class="textAlignCenter">01/01/2002</td>
                            <td class="textAlignCenter">Брянская область</td>
                            <td class="textAlignCenter">Брянское</td>
                            <td class="textAlignCenter">Брянское</td>
                            <td class="textAlignCenter">брянское</td>
                            <td class="textAlignCenter">2002</td>
                            <td class="textAlignCenter">1002</td>
                            <td class="textAlignCenter">202</td>
                            <td class="textAlignCenter">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 6a2 2 0 0 1 2-2h5a1 1 0 0 1 .707.293L11.414 6H20a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6zm6.586 0H4v12h16V8h-9a1 1 0 0 1-.707-.293L8.586 6zM12 9.5a1 1 0 0 1 1 1v2.586l.293-.293a1 1 0 0 1 1.414 1.414l-2 2a1 1 0 0 1-1.414 0l-2-2a1 1 0 1 1 1.414-1.414l.293.293V10.5a1 1 0 0 1 1-1z" fill="#000000"/></svg>
                            </td>
                            <td class="textAlignCenter">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18 6L17.1991 18.0129C17.129 19.065 17.0939 19.5911 16.8667 19.99C16.6666 20.3412 16.3648 20.6235 16.0011 20.7998C15.588 21 15.0607 21 14.0062 21H9.99377C8.93927 21 8.41202 21 7.99889 20.7998C7.63517 20.6235 7.33339 20.3412 7.13332 19.99C6.90607 19.5911 6.871 19.065 6.80086 18.0129L6 6M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6M14 10V17M10 10V17" stroke="#000000" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"></path>
                                </svg>
                            </td>
                        </tr>
                        <tr onclick="getForestCropsRecalculationsDetail()">
                            <td class="textAlignCenter">01/01/2002</td>
                            <td class="textAlignCenter">Брянская область</td>
                            <td class="textAlignCenter">Брянское</td>
                            <td class="textAlignCenter">Брянское</td>
                            <td class="textAlignCenter">брянское</td>
                            <td class="textAlignCenter">2002</td>
                            <td class="textAlignCenter">1002</td>
                            <td class="textAlignCenter">202</td>
                            <td class="textAlignCenter">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 6a2 2 0 0 1 2-2h5a1 1 0 0 1 .707.293L11.414 6H20a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6zm6.586 0H4v12h16V8h-9a1 1 0 0 1-.707-.293L8.586 6zM12 9.5a1 1 0 0 1 1 1v2.586l.293-.293a1 1 0 0 1 1.414 1.414l-2 2a1 1 0 0 1-1.414 0l-2-2a1 1 0 1 1 1.414-1.414l.293.293V10.5a1 1 0 0 1 1-1z" fill="#000000"/></svg>
                            </td>
                            <td class="textAlignCenter">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18 6L17.1991 18.0129C17.129 19.065 17.0939 19.5911 16.8667 19.99C16.6666 20.3412 16.3648 20.6235 16.0011 20.7998C15.588 21 15.0607 21 14.0062 21H9.99377C8.93927 21 8.41202 21 7.99889 20.7998C7.63517 20.6235 7.33339 20.3412 7.13332 19.99C6.90607 19.5911 6.871 19.065 6.80086 18.0129L6 6M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6M14 10V17M10 10V17" stroke="#000000" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"></path>
                                </svg>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pagination-container" id="paginationContainer">
            <button class="pagination-btn" id="prevPageBtn" disabled>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#666" class="bi bi-chevron-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg>
            </button>
            <div class="pagination-numbers" id="paginationNumbers"></div>
            <button class="pagination-btn" id="nextPageBtn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#666" class="bi bi-chevron-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </button>
        </div>
    </div>

    <div id="m1profile" class="modal-all-profile">
        <div id="m1i-profile" class="modal-profile">
            <div class="login-form-profile">
                <button class="but-exit" onclick="HideModalProfile(m1profile, event)"><span class="close-btn">&times;</span></button>
                <h2 id="teg">Данные пользователя</h2>
                <div class="form-profile">
                    <input id="profile_fio" type="text" placeholder="ФИО"/>
                </div>
                <div class="form-profile">
                    <input type="tel" placeholder="8хххххххххх" maxlength="14" pattern="8 [0-9]{3} [0-9]{3} [0-9]{4}" id="profile_phone"/>
                </div>
                <select name="sub" id="subjectStatement-profile" placeholder="password">
                </select>
                <div class="knopki-profile">
                    <button class="rem" onclick="saveDataInProfile()">Сохранить</button>
                    <button class="rem" onclick="openChangePassword()">Сменить пароль</button>
                    <button class="exit" onclick="getAvtorization()">Выйти</button>
                </div>
            </div>
        </div>
    </div>
    <div id="m1changePassword" class="modal-all-profile">
        <div id="m1i-password" class="modal-profile">
            <div class="login-form-profile">
                <button class="but-exit" onclick="HideModalProfile(m1changePassword, event)"><span class="close-btn">&times;</span></button>
                <h2 >Смена пароля</h2>

                <div class="form-profile">
                    <input id="old_password" type="password" placeholder="Текущий пароль"/>
                </div>
                <div class="form-profile">
                    <input id="new_password" type="password" placeholder="Новый пароль"/>
                </div>
                <div class="form-profile">
                    <input id="confirm_password" type="password" placeholder="Подтвердите пароль"/>
                </div>

                <div class="knopki-profile">
                    <button class="rem" onclick="saveNewPassword()">Сохранить</button>
                    <button class="exit" onclick="HideModalProfile(m1changePassword, event)">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>