<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% block title %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Перечет</title>
    <link rel="stylesheet" href="{% static 'css/recalculatingDetail.css' %}">
    <link rel="stylesheet" href="{% static 'css/add-form-proba.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.0/axios.js"></script>
    <script src="{% static 'js/global.js' %}"></script>
    <script src="{% static 'js/common/commonFunction.js' %}"></script>
    <script src="{% static 'js/common/common_business.js' %}"></script>
    <script src="{% static 'js/recalculatingDetail/recalculatingDetail_business.js' %}" defer></script>
    <script src="{% static 'js/recalculatingDetail/recalculatingDetail_construct_header.js' %}" defer></script>
    <script src="{% static 'js/recalculatingDetail/recalculatingDetail_construct_view_tableOne.js' %}" defer></script>
    <script src="{% static 'js/recalculatingDetail/recalculatingDetail_construct_view_tableTwo.js' %}" defer></script>
    <script src="{% static 'js/recalculatingDetail/recalculatingDetail_construct_view_tableThree.js' %}" defer></script>
    <script src="{% static 'js/recalculatingDetail/recalculatingDetail_construct_view_tableFour.js' %}" defer></script>
    <script src="{% static 'js/recalculatingDetail/recalculatingDetail_construct_view_tableNull.js' %}" defer></script>
    <script src="{% static 'js/recalculatingDetail/recalculatingDetail_construct_view.js' %}" defer></script>
    <script src="{% static 'js/common.js' %}" defer></script>
    {% endblock %}
</head>
<body id="body">
    <input id="idDocument" type="hidden" name="idDocument" value={{idDocument}}>
    <input id="idParent" type="hidden" name="idParent" value={{idParent}}>
    <header>
        <div class="hiv">
            <div class="hid">
                <img src="{% static 'img/Logo @img.svg' %}" alt="">
                <div class="point cursorPointer" onclick="getStatementRecalculations()">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 4.5L5.9022 3.50135C4.83122 2.43036 3 3.18888 3 4.70348V19.2999C3 20.2389 3.76115 21 4.70007 21H19.2965C20.8111 21 21.5696 19.1688 20.4987 18.0978L19.8945 17.4936M7 4.5L5.5 5.5M7 4.5L9.76759 7.36674M9.76759 7.36674L8.34542 8.87775M9.76759 7.36674L13.1019 10.701M13.1019 10.701L11.7783 12.0808M13.1019 10.701L16.3881 13.9872M16.3881 13.9872L15.113 15.3824M16.3881 13.9872L19.8945 17.4936M19.8945 17.4936L18.4968 18.7825" stroke="#40E0D0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.69867 18H11.2999C11.9224 18 12.2341 17.2474 11.794 16.8073L7.1927 12.206C6.75256 11.7659 6 12.0776 6 12.7001V17.3013C6 17.6872 6.3128 18 6.69867 18Z" stroke="#40E0D0" stroke-width="2" stroke-linejoin="round"/>
                    </svg>
                    <a><h3>Перечетная ведомость</h3></a>
                </div>
                <div class="point cursorPointer" onclick="getFieldCard()">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.7218 8.1308L10.5768 11.2012M1 19L2.61578 14.2673C2.81491 13.6841 2.74608 13.0523 2.52328 12.4773C1.43423 9.66657 2.04257 6.37784 4.35189 4.12326C6.60048 1.92796 13.1645 1.22622 16.729 1.00446C18.0273 0.923692 19.0782 1.94964 18.9954 3.2172C18.7683 6.69721 18.0495 13.1056 15.8009 15.3009C13.6825 17.3691 10.6728 18.0399 7.96733 17.3159C6.57914 16.9445 6.4141 15.2653 7.4319 14.2716L9.00437 12.7364M10.5768 11.2012V7.5M10.5768 11.2012L9.00437 12.7364M9.00437 12.7364H12.5" stroke="#40E0D0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <a><h3>Полевые карточки</h3></a>
                </div>
                <div style="display: none;" class="point cursorPointer" onclick="getGeneralDoc()">
                    <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="4" y="5.10345" width="16" height="3.51724" rx="1" stroke="#40E0D0" stroke-width="2" stroke-linejoin="round"/>
                        <rect x="4" y="13.3793" width="16" height="3.51724" rx="1" stroke="#40E0D0" stroke-width="2" stroke-linejoin="round"/>
                        <path d="M17 6.75519H18.5" stroke="#40E0D0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M17 15.1552H18.5" stroke="#40E0D0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <a><h3>Справочники</h3></a>
                </div>
            </div>
            <div class="col-md-3-button-profile">
                <button class="rukovodstvo" onclick="downloadDocument()">Скачать руководство пользователя</button>
                <button class="save-profile">Профиль</button>
            </div>
        </div>
        <div class="hiv2">
            <div class="hid2">
                <div class="back" id="back_event" style="display: flex; align-items: center; cursor: pointer;">
                    <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin: 7px 10px;">
                        <path d="M0.931396 4.95239L5.9314 0V4H17.9314V6H5.9314V10L0.931396 4.95239Z" fill="#4A4A4A"/>
                    </svg>
                </div>
                <div class="point cursorPointer" onclick="getDescriptionListLand()">
                    <a><h3>Описание участков</h3></a>
                </div>
                <div class="point cursorPointer" onclick="getFieldCard()">
                    <a><h3>Список полевых карточек</h3></a>
                </div>
            </div>
        </div>
    </header>
    <h1 class="heading" id="header_recalculating">Перечет на пробной площади 0000001 от 07.03.2023</h1>
        <div class="action-panel">
            <div class="butmenuadd filtr" onclick="saveRecalculating()">
                <svg width="22" height="22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.5 19H5C3.89543 19 3 18.1046 3 17V3C3 1.89543 3.89543 1 5 1H15.6716C16.202 1 16.7107 1.21071 17.0858 1.58579L20.4142 4.91421C20.7893 5.28929 21 5.79799 21 6.32843V17C21 18.1046 20.1046 19 19 19H16.5M7.5 19H12H16.5M7.5 19V15C7.5 13.8954 8.39543 13 9.5 13H14.5C15.6046 13 16.5 13.8954 16.5 15V19" stroke="#ffffff" stroke-linejoin="round"/>
                    <line x1="0.5" y1="-0.5" x2="9.5" y2="-0.5" transform="matrix(-1 0 0 1 17 8)" stroke="#ffffff" stroke-linecap="round"/>
                </svg>
                <p class="p">Сохранить</p>
            </div>
            <div class="back butmenu task" style="display: none;">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin: 7px 10px 7px 15px;">
                    <circle cx="8" cy="8" r="8" fill="#F03600"/>
                    <path d="M7.15143 8L4.57568 10.5757L5.42421 11.4243L7.99996 8.84853L10.5757 11.4243L11.4242 10.5757L8.84848 8L11.4242 5.42427L10.5757 4.57574L7.99996 7.15147L5.42423 4.57574L4.5757 5.42427L7.15143 8Z" fill="white"/>
                    </svg>
                <p class="p">Удалить перечет</p>
            </div>
        </div>

        <div class="submenu">
            <form action="" class="form vvod">
                <div>
                    <div>
                        <p>Номер перечета:</p>
                        <input id="number_recalculation" type="text" readonly>
                    </div>
                    <div>
                        <p>Дата перечета:</p>
                        <input name="date_recalculation" id="date_recalculation" type="date">
                    </div>
                </div>
        </form>
            <h1 class="heading" style="margin-top: 35px;">Участок</h1>
            <form action="" class="form vvod">
                    <div>
                        <div>
                            <p>Номер участка:</p>
                            <input class="mandatory" type="text" name="" id="number_region" readonly>
                        </div>
                        <div>
                            <p>Площадь пробной площади:</p>
                            <input class="mandatory" type="text" name="square_recalculation" id="square_recalculation">
                        </div>
                        <div>
                            <p>Субьект РФ:</p>
                            <select name="regionRF" id="regionRF">
                                <option hidden disabled selected value=""></option>
                            </select>
                        </div>
                        <div>
                            <p>Лесничество:</p>
                            <select name="lesName" id="lesName">
                                <option hidden disabled selected value=""></option>
                                <option>Брянское</option>
                                <option>Локчимское</option>
                            </select>
                        </div>
                        <div>
                            <p>Участковое лесничество:</p>
                            <select name="ucLesName" id="ucLesName">
                                <option hidden disabled selected value=""></option>
                            </select>
                        </div>
                        <div>
                            <p>Урочище:</p>
                            <input name="soil_lot" id="dacha" type="text">
                        </div>
                        <div>
                            <p>Квартал:</p>
                            <input  class="mandatory" type="text" name="soil_lot" id="quarter">
                        </div>
                        <div>
                            <p>Выдел:</p>
                            <input class="mandatory" type="text" name="soil_lot_recalculating" id="soil_lot_recalculating">
                        </div>
                    </div>
            </form>
        </div>

    <div class="content">
        <div class="action-panel" style="padding: 0 0 16px 0; background: transparent; border-bottom: none;">
            <div class="butmenuadd" style="background: #177164;" onclick="openAddForm('form-add-undeground')">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="8" cy="8" r="8" fill="white"/>
                    <path d="M7.40002 8.60005V12.2H8.60002V8.60005H12.2V7.40005H8.60002V3.80005H7.40002V7.40005H3.79999V8.60005H7.40002Z" fill="#177164"/>
                    </svg>
                <p class="p">Добавить подлесок</p>
            </div>
        </div>
        <div class="table-container">
            <table class="sticky-header-table compact-table">
                <thead>
                    <tr>
                        <th>Порода</th>
                        <th>Количество растений</th>
                        <th>Средняя высота</th>
                        <th>
                            <svg width="23px" height="23px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" >
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path d="M18 6L17.1991 18.0129C17.129 19.065 17.0939 19.5911 16.8667 19.99C16.6666 20.3412 16.3648 20.6235 16.0011 20.7998C15.588 21 15.0607 21 14.0062 21H9.99377C8.93927 21 8.41202 21 7.99889 20.7998C7.63517 20.6235 7.33339 20.3412 7.13332 19.99C6.90607 19.5911 6.871 19.065 6.80086 18.0129L6 6M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6M14 10V17M10 10V17" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                        </th>
                    </tr>
                </thead>
                <tbody id="table_0">
                </tbody>
            </table>
        </div>
    </div>
    <div class="podles1">
        <div class="hid2r">
            <div onclick="setDataInTableOne(1)" class="point">
                <a id="switchButton1" class="table_1_switch_button_item border-bottom-color-active"><h3 style="color: #444;">Искусственное</h3></a>
            </div>
            <div onclick="setDataInTableOne(2)" class="point">
                <a id="switchButton2"  class="table_1_switch_button_item border-bottom-color-black" ><h3 style="color: #444;">Естественное семеное</h3></a>
            </div>
            <div onclick="setDataInTableOne(3)" class="point">
                <a id="switchButton3"  class="table_1_switch_button_item border-bottom-color-black"><h3  style="color: #444;">Естественное порослевое</h3></a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="action-panel" style="padding: 0 0 16px 0; background: transparent; border-bottom: none;">
            <div class="butmenuadd" style="background: #177164;" onclick="openAddForm('form-add-proba')">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="8" cy="8" r="8" fill="white"/>
                    <path d="M7.40002 8.60005V12.2H8.60002V8.60005H12.2V7.40005H8.60002V3.80005H7.40002V7.40005H3.79999V8.60005H7.40002Z" fill="#177164"/>
                    </svg>
                <p class="p">Добавить лесообразующую породу</p>
            </div>
        </div>
        <div class="table-container">
            <table class="sticky-header-table full-table">
                <thead>
                    <tr>
                        <th>Порода</th>
                        <th>Главная порода</th>
                        <th>до 0.2</th>
                        <th>0.21 - 0.5</th>
                        <th>0.6 - 1.0</th>
                        <th>1.1 - 1.5</th>
                        <th>более 1.5</th>
                        <th>max h</th>
                        <th>avg h</th>
                        <th>age</th>
                        <th>Средний диаметр</th>
                        <th>Общее количество</th>
                        <th>
                            <svg width="23px" height="23px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" >
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path d="M18 6L17.1991 18.0129C17.129 19.065 17.0939 19.5911 16.8667 19.99C16.6666 20.3412 16.3648 20.6235 16.0011 20.7998C15.588 21 15.0607 21 14.0062 21H9.99377C8.93927 21 8.41202 21 7.99889 20.7998C7.63517 20.6235 7.33339 20.3412 7.13332 19.99C6.90607 19.5911 6.871 19.065 6.80086 18.0129L6 6M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6M14 10V17M10 10V17" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                        </th>
                    </tr>
                </thead>
                <tbody id="table_one">
                </tbody>
            </table>
        </div>
    </div>
    <div class="conpodles2">
        <div class="podlesok1 otstup1">
            <div class=" conpodles">
                <div class="action-panel" style="padding: 0 0 16px 0; background: transparent; border-bottom: none;">
                    <div class="butmenuadd" style="background: #177164; display: none;" onclick="openAddForm('form-add-state')">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8" cy="8" r="8" fill="white"/>
                            <path d="M7.40002 8.60005V12.2H8.60002V8.60005H12.2V7.40005H8.60002V3.80005H7.40002V7.40005H3.79999V8.60005H7.40002Z" fill="#177164"/>
                            </svg>
                        <p class="p">Добавить сотрудника</p>
                    </div>
                </div>
                <div class="table-container">
                    <table class="sticky-header-table employee-table">
                        <thead>
                            <tr>
                                <th>Сотрудник</th>
                            </tr>
                        </thead>
                        <tbody id="table_2">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="podlesok1">
            <div class=" conpodles">
                <div class="action-panel" style="padding: 0 0 16px 0; background: transparent; border-bottom: none;">
                    <div class="butmenuadd" style="background: #177164;" onclick="openAddForm('form-add-gps')">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8" cy="8" r="8" fill="white"/>
                            <path d="M7.40002 8.60005V12.2H8.60002V8.60005H12.2V7.40005H8.60002V3.80005H7.40002V7.40005H3.79999V8.60005H7.40002Z" fill="#177164"/>
                            </svg>
                        <p class="p">Добавить GPS-точку</p>
                    </div>
                </div>
                <div class="table-container">
                    <table class="sticky-header-table gps-table">
                        <thead>
                            <tr>
                                <th>№ точки</th>
                                <th>Долгота</th>
                                <th>Широта</th>
                                <th>Центр</th>
                                <th>
                                    <svg width="23px" height="23px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" >
                                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                        <g id="SVGRepo_iconCarrier">
                                            <path d="M18 6L17.1991 18.0129C17.129 19.065 17.0939 19.5911 16.8667 19.99C16.6666 20.3412 16.3648 20.6235 16.0011 20.7998C15.588 21 15.0607 21 14.0062 21H9.99377C8.93927 21 8.41202 21 7.99889 20.7998C7.63517 20.6235 7.33339 20.3412 7.13332 19.99C6.90607 19.5911 6.871 19.065 6.80086 18.0129L6 6M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6M14 10V17M10 10V17" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="table_3">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="podlesok1 otstup2">
            <div class=" conpodles">
                <div class="action-panel" style="padding: 0 0 16px 0; background: transparent; border-bottom: none;">
                    <div class="butmenuadd" style="background: #177164;" onclick="openAddForm('form-add-photo-point')">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8" cy="8" r="8" fill="white"/>
                            <path d="M7.40002 8.60005V12.2H8.60002V8.60005H12.2V7.40005H8.60002V3.80005H7.40002V7.40005H3.79999V8.60005H7.40002Z" fill="#177164"/>
                            </svg>
                        <p class="p">Добавить Фото-точку</p>
                    </div>
                </div>
                <div class="table-container">
                    <table class="sticky-header-table photo-table">
                        <thead>
                            <tr>
                                <th>№ точки</th>
                                <th>Дата/Время</th>
                                <th>Фото</th>
                                <th>
                                    <svg width="23px" height="23px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" >
                                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                        <g id="SVGRepo_iconCarrier">
                                            <path d="M18 6L17.1991 18.0129C17.129 19.065 17.0939 19.5911 16.8667 19.99C16.6666 20.3412 16.3648 20.6235 16.0011 20.7998C15.588 21 15.0607 21 14.0062 21H9.99377C8.93927 21 8.41202 21 7.99889 20.7998C7.63517 20.6235 7.33339 20.3412 7.13332 19.99C6.90607 19.5911 6.871 19.065 6.80086 18.0129L6 6M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6M14 10V17M10 10V17" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="table_4">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="form-add-proba" class="addFormfon display-none">
            <div class="modal-medium">
                <div class="modal-header">
                    <h3>Добавление пробы</h3>
                    <div class="modal-close" onclick="closeAddForm('form-add-proba')">×</div>
                </div>
                <div class="modal-body">
                    <div class="modal-row">
                        <select id="breedName-proba" class="modal-input">
                        </select>
                    </div>
                    <div class="modal-row">
                        <label for="proba-main">Главная порода</label>
                        <input id="proba-main" type="checkbox" class="proba-checkbox">
                    </div>
                    <div class="modal-row">
                        <label for="proba-0.2">До 0.2</label>
                        <input id="proba-0.2" type="number" class="modal-input" step="1" min="0">
                    </div>
                    <div class="modal-row">
                        <label for="proba-0.21-0.5">0.21 - 0.5</label>
                        <input id="proba-0.21-0.5" type="number" class="modal-input" step="1" min="0">
                    </div>

                    <div class="modal-row">
                        <label for="proba-0.6-1.0">0.6 - 1.0</label>
                        <input id="proba-0.6-1.0" type="number" class="modal-input" step="1" min="0">
                    </div>

                    <div class="modal-row">
                        <label for="proba-1.1-1.5">1.1 - 1.5</label>
                        <input id="proba-1.1-1.5" type="number" class="modal-input" step="1" min="0">
                    </div>

                    <div class="modal-row">
                        <label for="proba-1.5">Более 1.5</label>
                        <input id="proba-1.5" type="number" class="modal-input" step="1" min="0">
                    </div>

                    <div class="modal-row">
                        <label for="proba-avg-h">Avg h</label>
                        <input id="proba-avg-h" type="number" class="modal-input" step="0.1" min="0">
                    </div>

                    <div class="modal-row">
                        <label for="proba-maxheig">Макс. высота</label>
                        <input id="proba-maxheig" type="number" class="modal-input" step="0.1" min="0">
                    </div>

                    <div class="modal-row">
                        <label for="proba-age">Возраст</label>
                        <input id="proba-age" type="number" class="modal-input" step="1" min="0">
                    </div>

                    <div class="modal-row">
                        <label for="proba-avg-d">Средний диаметр</label>
                        <input id="proba-avg-d" type="number" class="modal-input" step="0.1" min="0">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="modal-btn modal-btn-cancel" onclick="closeAddForm('form-add-proba')">Отмена</button>
                    <button class="modal-btn modal-btn-add" id="buttonAddProba">Добавить</button>
                </div>
            </div>
        </div>
        <div id="form-add-undeground" class="addFormfon display-none">
            <div class="modal-small">
                <div class="modal-header">
                    <h3>Добавление подлеска</h3>
                    <div class="modal-close" onclick="closeAddForm('form-add-undeground')">×</div>
                </div>
                <div class="modal-body">
                    <div class="modal-row">
                        <select id="breedName-undeground" class="modal-input">
                        </select>
                    </div>
                    <div class="modal-row">
                        <label for="count-add">Количество растений</label>
                        <input type="number" id="count-add" class="modal-input" min="0" step="1">
                    </div>
                    <div class="modal-row">
                        <label for="avg-h-add">Средняя высота</label>
                        <input type="number" id="avg-h-add" class="modal-input" min="0" step="0.1">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="modal-btn modal-btn-cancel" onclick="closeAddForm('form-add-undeground')">Отмена</button>
                    <button class="modal-btn modal-btn-add" id="buttonAddUndefground">Добавить</button>
                </div>
            </div>
        </div>
        <div id="form-add-state" class="addFormfon display-none">
            <div class="modal-small">
                <div class="modal-header">
                    <h3>Добавление сотрудника</h3>
                    <div class="modal-close" onclick="closeAddForm('form-add-state')">×</div>
                </div>
                <div class="modal-body">
                    <div class="modal-row">
                        <label for="stateName">Сотрудник</label>
                        <select id="stateName" class="modal-input">
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="modal-btn modal-btn-cancel" onclick="closeAddForm('form-add-state')">Отмена</button>
                    <button class="modal-btn modal-btn-add" id="buttonAddState">Добавить</button>
                </div>
            </div>
        </div>
        <div id="form-add-gps" class="addFormfon display-none">
            <div class="modal-small">
                <div class="modal-header">
                    <h3>Добавление GPS-точки</h3>
                    <div class="modal-close" onclick="closeAddForm('form-add-gps')">×</div>
                </div>
                <div class="modal-body">
                    <div class="modal-row">
                        <label for="latitude-add">Широта</label>
                        <input type="number" id="latitude-add" class="modal-input" step="any" placeholder="00.000000">
                    </div>
                    <div class="modal-row">
                        <label for="longitude-add">Долгота</label>
                        <input type="number" id="longitude-add" class="modal-input" step="any" placeholder="00.000000">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="modal-btn modal-btn-cancel" onclick="closeAddForm('form-add-gps')">Отмена</button>
                    <button class="modal-btn modal-btn-add" id="buttonAddGps">Добавить</button>
                </div>
            </div>
        </div>
        <div id="form-add-photo-point" class="addFormfon display-none">
            <div class="modal-medium">
                <div class="modal-header">
                    <h3>Добавление фото-точки</h3>
                    <div class="modal-close" onclick="closeAddForm('form-add-photo-point')">×</div>
                </div>
                <form id="form-photo-point-add" method="post" action="" enctype="multipart/form-data">
                    <input id="id_sample-photo-point-add" type="hidden" name="id_sample">
                    <div class="modal-body">
                        <div class="modal-row">
                            <label for="date-photo-point-add">Дата</label>
                            <input type="datetime-local" id="date-photo-point-add" name="date" class="modal-input">
                        </div>
                        <div class="modal-row">
                            <label for="latitude-photo-point-add">Широта</label>
                            <input type="number" id="latitude-photo-point-add" name="latitude" class="modal-input" step="any" placeholder="00.000000">
                        </div>
                        <div class="modal-row">
                            <label for="longitude-photo-point-add">Долгота</label>
                            <input type="number" id="longitude-photo-point-add" name="longitude" class="modal-input" step="any" placeholder="00.000000">
                        </div>
                        <div class="modal-row">
                            <label for="file-photo-point-add">Фотография</label>
                            <input type="file" id="file-photo-point-add" name="photo" class="modal-file-input" accept="image/*">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="modal-btn modal-btn-cancel" onclick="closeAddForm('form-add-photo-point')">Отмена</button>
                        <button type="submit" class="modal-btn modal-btn-add" id="buttonAddPhotoPoint">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="m1" class="modal-all">
        <div id="m1i" class="modal">
            <p class="modal-text">Сохранение прошло успешно</p>
            <img class="modal-image" src="{% static '/img/check-circle-fill.svg' %}" alt="">
        </div>
    </div>
    <div id="statusModal" class="modal-status" style="display: none" >
        <div id="statusModalContent" class="modal-profileStatus">
            <div class="status-icon-container">
                <div id="loadingSpinner" class="spinner" style="display: none;"></div>
                <svg id="errorIcon" style="display: none" width="60px" height="60px" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" class="iconify iconify--noto" preserveAspectRatio="xMidYMid meet">
                    <path d="M69.8 88.1l1.8-80c.1-2.2-1.8-4.1-4-4.1H55.9c-2.3 0-4.1 1.9-4 4.1l1.8 80c.1 2.2 1.8 3.9 4 3.9h8c2.2 0 4-1.7 4.1-3.9z" fill="#f44336">
                    </path>
                    <g fill="#ffffff">
                    <path d="M64 50c.3-1.9-.5-26.2-.5-26.2s.1-3.5-2.8-3.8c-2.8-.3-3.8 2.3-3.8 4.1c0 1.8.4 21.5.6 23.3c.1 1.8 1.9 3.7 3.6 4.2s2.7-.2 2.9-1.6z" opacity=".2">
                    </path>
                    <circle cx="59.6" cy="13.4" r="3.3" opacity=".2">
                    </circle>
                    </g>
                    <circle cx="64.1" cy="112" r="12" fill="#c33">
                    </circle>
                    <circle cx="62.4" cy="112" r="10.3" fill="#f44336">
                    </circle>
                    <path d="M56.5 108.4c1.2-1.8 3.8-3.3 6.5-3.7c.7-.1 1.3-.1 1.9.1c.4.2.8.6.5 1c-.2.4-.7.5-1.1.6c-2.5.7-4.8 2.4-6.2 4.4c-.5.8-1.4 2.9-2.4 2.4c-1-.7-.7-2.6.8-4.8z" opacity=".2" fill="#ffffff">
                    </path>
                    <path d="M71.9 4h-4.3c2.3 0 4.1 1.9 4 4.1l-1.8 80c-.1 2.2-1.8 3.9-4 3.9H70c2.2 0 4-1.7 4-3.9l1.8-80C76 5.9 74.1 4 71.9 4z" fill="#c33">
                    </path>
                </svg>
            </div>
            <p id="statusMessage">Сохранение</p>
            <p id="statusText">Обратитесь к администратору системы</p>
            <button id="modalCloseButton" class="exit" onclick="hideStatusModal(event)" style="display: none;">Закрыть</button>
        </div>
    </div>
    <div id="m1profile" class="modal-all-profile">
        <div id="m1i-profile" class="modal-profile">
            <div class="login-form-profile">
                <button class="but-exit" onclick="HideModalProfile(m1profile, event)"><span class="close-btn">&times;</span></button>
                <h2 id="teg">Данные пользователя</h2>
                <div class="form-profile">
                    <input id="profile_fio" type="text" placeholder="ФИО"/>
                </div>
                <div class="form-profile">
                    <input type="tel" placeholder="8хххххххххх" maxlength="14" pattern="8 [0-9]{3} [0-9]{3} [0-9]{4}" id="profile_phone"/>
                </div>
                <select name="sub" id="subjectStatement-profile" placeholder="password">
                </select>
                <div class="knopki-profile">
                    <button class="rem" onclick="saveDataInProfile()">Сохранить</button>
                    <button class="rem" onclick="openChangePassword()">Сменить пароль</button>
                    <button class="exit" onclick="getAvtorization()">Выйти</button>
                </div>
            </div>
        </div>
    </div>
    <div id="m1changePassword" class="modal-all-profile">
        <div id="m1i-password" class="modal-profile">
            <div class="login-form-profile">
                <button class="but-exit" onclick="HideModalProfile(m1changePassword, event)"><span class="close-btn">&times;</span></button>
                <h2 >Смена пароля</h2>

                <div class="form-profile">
                    <input id="old_password" type="password" placeholder="Текущий пароль"/>
                </div>
                <div class="form-profile">
                    <input id="new_password" type="password" placeholder="Новый пароль"/>
                </div>
                <div class="form-profile">
                    <input id="confirm_password" type="password" placeholder="Подтвердите пароль"/>
                </div>

                <div class="knopki-profile">
                    <button class="rem" onclick="saveNewPassword()">Сохранить</button>
                    <button class="exit" onclick="HideModalProfile(m1changePassword, event)">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>