.state{
    position: absolute;
    padding: 10px;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 350px;
     height: 120px;
     border: 2px solid grey;
     background-color: white;
}

.state button{
    float: right;
    cursor: pointer;
}

.state-input {
    width: 200px;
    font-size: 14px;
    height: 23px;
}

.state-content {
    margin-top: 40px;
}

.state .form1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
}

.state h3 {
    margin-left: 15px;
}

.state p{
    margin-right: 20px;
    font-size: 18px;
}

.state .p{
    margin-right: 8px;
}

.exitFormAddState {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: grey;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.exitFormAddState:hover {
    background-color: #3bc1a0;
}

