.addFormfon {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(126 130 130 / 71%);
    position: fixed;
    top: 0;
    z-index: 2002;
}

.consolidation{
    position: absolute;
    padding: 5px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 700px;
    height: 200px;
    border: 2px solid grey;
    background-color: white;
}

.consolidation h3, .consolidation-list h3 {
    margin-left: 30px;
}

.exitFormAddProba {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: grey;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.exitFormAddProba:hover {
    background-color: #3bc1a0;
}

.consolidation button {
    margin-left: 20px;
    cursor: pointer;
}

.consolidation-content {
    margin-top: 15px;
    margin-left: 20px;
}

.dateDoc {
    display: flex;
    width: 650px;
    justify-content: space-between;
}

.dateDoc input {
    width: 50px;
}

.firstDoc {
    margin-top: 15px;
    display: flex;
    width: 650px;
    justify-content: space-between;
}

.firstDoc input {
    width: 450px;
    cursor: pointer;
}

.secondDoc {
    margin-top: 15px;
    display: flex;
    width: 650px;
    justify-content: space-between;
}

.secondDoc input {
    width: 450px;
    cursor: pointer;
}

.consolidation-list {
    position: absolute;
    padding: 5px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 950px;
    height: 400px;
    border: 2px solid grey;
    background-color: white;
}

.consolidation-list-content {
    height: 300px;
    padding-left: 10px;
    padding-right: 10px;
}

.consolidation-list-content .scroll-table-body {
	height: 90%;
	overflow-x: auto;
}

.consolidation-list-content .td1 {
    width: 100px;
}

.consolidation-list-content .td3 {
    width: 220px;
}

.consolidation-list-content .td4 {
    width: 190px;
}

.consolidation-list-content .td5 {
    width: 210px;
}

.consolidation-list-content .td6 {
    width: 65px;
    text-align: center;
}

.consolidation-list-content .td7 {
    width: 0px;
}
