<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{{title}}</title>
</head>
<body>
{% block body %}
    <div class="container">
        {% block header %}
        <div class="header">
            {% block nav %}
            <ul class="nav">
                <li><a href="/">Главная</a></li>
                <li><a href="documents">Документы</a></li>
                <li><a href="guide">Справочники</a></li>
            </ul>
            {% endblock %}
          </div>
        {% endblock %}
        {% endblock %}
    </div>
</body>
</html>